{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ticket.content }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if ticket.created %}{{ ticket.created|date('Y-m-d H:i:s') }}{% endif %} By {%  for user in ticket.users %}{{ user.username|capitalize }}{% endfor %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if ticket.updated %}{{ ticket.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>


    <h4>Answers :</h4>
    {% for answer in answers %}
        {{ answer.content }}

            ||| Message Written by: {{ answer.user.username|capitalize }} |
            {% if answer.updated is not null %}
                Updated on : {{ answer.updated|date('Y-m-d') }}
            {% else %}
                Created the : {{ answer.created|date('Y-m-d') }}
            {% endif %}
            <br>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('answer_edit', {'id': answer.id, 'ticket_id': ticket.id }) }}">Edit answer</a><br>
        {% endif %}
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('answer_new', { 'ticket_id': ticket.id }) }}">New Message</a>
        </li>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>

{% endblock %}
